/* ====== banner styling ====== */
.banner{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 9rem;
    background-image: radial-gradient(circle 280px at 30% 50%, rgb(50, 57, 85) 0%, var(--primary-color) 100%);
}
.banner__img{
    position: relative;
    width: 500px;
    height: 550px;

    .image{
    object-fit: contain;    
    }
}
.banner__content{
    width: 430px;
}
.banner__content h2{
    font-weight: 400;
    font-size: 3rem;
    margin-bottom: 1rem;
}
.banner__content span{
    color: var(--text-main);
}
.banner__content p{
    text-align: justify;
    font-size: 1.2rem;
}

/* ====== responsive styling ====== */
@media (max-width:1200px){
    .banner{
        padding: 0 4rem;
        background-image: radial-gradient(circle 230px at 25% 50%, rgb(50, 57, 85) 0%, var(--primary-color) 100%);
    }
    .banner__img{
        width: 400px;
        height: 500px;
    }
    .banner__content{
        width: 375px;
    }
    .banner__content h2{
        font-size: 2.6rem;
    }
}
@media (max-width:960px){
    .banner{
        padding: 0 2rem;
        background-image: radial-gradient(circle 200px at 25% 50%, rgb(50, 57, 85) 0%, var(--primary-color) 100%);
    }
    .banner__img{
        width: 350px;
        height: 420px;
    }
    .banner__content{
        width: 315px;
    }
    .banner__content h2{
        font-size: 2.2rem;
        font-weight: 300;
    }
    .banner__content p{
        font-size: 1rem;
        font-weight: 300;
    }
}
@media (max-width:768px){
    .banner{
        flex-direction: column;
        background-image: radial-gradient(circle 230px at 50% 33%, rgb(50, 57, 85) 0%, var(--primary-color) 100%);
    }
    .banner__img{
        width: 400px;
        height: 500px;
    }
    .banner__content{
        width: 450px;
    }
    .banner__content h2{
        font-size: 2.6rem;
    }
    .banner__content p{
        font-size: 1.2rem;
    }
}
@media (max-width: 600px){
    .banner{
        padding: 0 1rem;
        background-image: radial-gradient(circle 210px at 50% 33%, rgb(50, 57, 85) 0%, var(--primary-color) 100%);
    }
    .banner__content{
        width: 390px;
    }
    .banner__content h2{
        font-size: 2.3rem;
    }
    .banner__content p{
        font-size: 1.1rem;
    }
}
@media (max-width:480px){
.banner{
    background-image: radial-gradient(circle 170px at 50% 31%, rgb(50, 57, 85) 0%, var(--primary-color) 100%);
}
.banner__img{
    width: 325px;
    height: 400px;
}
.banner__content{
width: 300px;
}
.banner__content h2{
    font-size: 1.9rem;
}
.banner__content p{
    font-size: 1rem;
}
}