.methodology__container {
  padding: 2rem 9rem;
}
.methodology__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.methodology {
  flex: 1 1 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 280px;
  padding: 1rem;
}
.icon__box {
  position: relative;
  width: 9rem;
  height: 9rem;
  background: var(--secondary-color);
  border: 5px solid #637b94;
  border-radius: 50%;
  transition: 0.5s;

  .icon {
    position: absolute;
    object-fit: contain;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 60%;
  }
}
.icon__box:hover {
  transform: scale(1.2);
}
.icon__box span {
  display: inline-block;
  background: var(--secondary-color);
  /* width: 20px;
    height: 20px; */
  padding: 6px 10px;
  border: 2px solid #637b94;
  border-radius: 50%;
}
.methodology h4 {
  margin: 1rem 0 0.5rem;
  font-size: 1.4rem;
  font-weight: 400;
}
.methodology p {
  font-size: 1.1rem;
  font-weight: 300;
  text-align: justify;
}
@media (max-width: 1200px) {
  .methodology__container {
    padding: 2rem 6rem;
  }
}
@media (max-width: 768px) {
  .methodology__container {
    padding: 2rem 4rem;
  }
}
@media (max-width: 480px) {
  .methodology__container {
    padding: 2rem 1rem;
  }
}
